<mat-grid-list cols="3">
    <mat-card class="card">
        <mat-card-content>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" class="img">
        </mat-card-content>
    </mat-card>
    <mat-card class="card">
        <mat-card-content>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" class="img">
        </mat-card-content>
    </mat-card>  
    <mat-card class="card">
        <mat-card-content>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" class="img">
        </mat-card-content>
    </mat-card>     
</mat-grid-list>