<mat-card class="contenedor-grecas" style="background-color: black;">
    <nav>
      <img src="assets/grecas/gmizqui.png" alt="Axolot" class="g-izq">
    </nav>
    <nav>
      <img src="assets/grecas/gmizqui.png" alt="Axolot" class="g-izq1">
    </nav>
    <nav>
      <img src="assets/grecas/gmizqui.png" alt="Axolot" class="g-izq1">
    </nav>
    <nav>
      <img src="assets/grecas/gmizqui.png" alt="Axolot" class="g-izq1">
    </nav>
    <nav>
      <img src="assets/grecas/gmizqui.png" alt="Axolot" class="g-izq1">
    </nav>
    <nav>
      <img src="assets/grecas/gmizqui.png" alt="Axolot" class="g-izq1">
    </nav>
    <nav>
      <img src="assets/grecas/gmizqui.png" alt="Axolot" class="g-izq1">
    </nav>
</mat-card>

  