.contenedor-grecas img {
  pointer-events: none; /* Evita que se pueda arrastrar la imagen */
}

  .g-izq{
    float:left;
    height: 200px;
    margin-top: -880pt;
    pointer-events: none;
  }
  .g-izq1{
    height: 200px;
    margin-top: -64.5px;
    pointer-events: none;
  }
  