  .contenedor-grecas{
  max-width: 5%;
  height: auto;
  /*width: -800px;  Ajusta el ancho según tus necesidades */
  /*height: -800px; /* Ajusta la altura según tus necesidades */
  /* display: flex;
  justify-content: left;
  align-items: left;*/
  }
  .g-izq{
    max-width: -10%;
    height: 200px;
    float:left

    /*float:left;
    height: 200px;
    margin-top: -880pt;
    pointer-events: none;*/
  }
  .g-izq1{
    max-width: -10%;
    height: 200px;
    float:left;
    pointer-events: none;
    margin-top: -80%;
    margin-left: 4%;
  }
  