<body>
    <!--Preguntas-->
    <div class="contenedor-acordeon">
        <h2>Preguntas frecuentes</h2>
        <div class="acordeon">
            <input type="radio" name="acordeon" id="btn-acordeon1" class="btn-acordeon">
            <label for="btn-acordeon1">
                ¿Quienes somos?
            </label>
            <div class="contenido-acordeon">
                <p class="letra">Somos estudiantes de octavo grado de la Ingeniería en Sistemas Computacionales del Tecnológico de Estudios 
                    Superiores Chalco y el equipo esta conformado por:
                    <li>Aguilar Sánchez Willian Gabriel</li>
                    <li>Cazares Martínez Mauricio Javier </li>
                    <li>Rayón Cornejo Sergio Augusto</li>
                    <li>Reyes Cañeda Rene</li>
                    <li>Ruíz Vargas José Fernando</li>
                </p>
            </div>
        </div>
        <div class="acordeon">
         <input type="radio" name="acordeon" id="btn-acordeon2" class="btn-acordeon">
         <label for="btn-acordeon2">
             ¿Qué herramientas se utilizarón?
         </label>
         <div class="contenido-acordeon">
            <p class="letra">Aquí se mostrarán las herramientas que se utilizarón para poder realizar este proyecto</p>
               <table class="tabla">
                <tr>
                    <td><p class="letra">Bootstrap</p></td>
                    <td><a class="link-opacity-100" href="https://getbootstrap.com/"><img class= "imagen" src="../../../assets/logos/Bootstrap.png"></a></td>
                </tr>
                    <td><p class="letra">Angular Material</p></td>
                    <td><a class="link-opacity-100" href="https://material.angular.io/"><img class= "imagen" src="../../../assets/logos/angular.png"></a></td>
                <tr>
                    <td><p class="letra">Firebase</p></td>
                    <td><a class="link-opacity-100" href="https://firebase.google.com/?hl=es"><img class= "firebase" src="../../../assets/logos/Firebase.png"></a></td>
                </tr>
                    
                <tr>
                    <td><p class="letra">Google Cloud</p></td>
                    <td><a class="link-opacity-100" href="https://cloud.google.com/?hl=es"><img class= "imagen" src="../../../assets/logos/cloud.png"></a></td>
                </tr>

                <tr>
                    <td><p class="letra">Express</p></td>
                    <td><a class="link-opacity-100" href="https://expressjs.com/"><img class= "express" src="../../../assets/logos/express.png"></a></td>
                </tr>

                <tr>
                    <td><p class="letra">NodeJs</p></td>
                    <td><a class="link-opacity-100" href="https://nodejs.org/en"><img class= "imagen" src="../../../assets/logos/nodejs.png"></a></td>
                </tr>
               </table>
         </div>
     </div>
     <div class="acordeon">
         <input type="radio" name="acordeon" id="btn-acordeon3" class="btn-acordeon">
         <label for="btn-acordeon3">
             ¿Porqué se decidió hacer esto?
         </label>
         <div class="contenido-acordeon">
            <p class="letra">En la actualidad, las grandes empresas como Google y Microsoft se apoyan principalmente en los metadatos para sus buscadores de imágenes. La búsqueda basada en metadatos se centra en utilizar información como palabras clave y etiquetas para encontrar resultados relevantes para los usuarios. Si bien esto puede resultar útil en muchas ocasiones, también presenta algunas limitaciones. Por ejemplo, la precisión de la búsqueda puede estar restringida por la calidad de los metadatos disponibles y la forma en que se han etiquetado. Además, la diversidad de los resultados puede verse afectada si las palabras clave y etiquetas utilizadas son demasiado generales o restrictivas.

                Para abordar estos desafíos, se propone el desarrollo de un buscador de imágenes avanzado que incorpore inteligencia artificial. Esta IA sería capaz de analizar el contenido visual y semántico de las imágenes, así como comprender el contexto y la intención de los usuarios, con el objetivo de ofrecer resultados más personalizados y satisfactorios.</p>
         </div>
     </div>
<!--Iconos-->
<script src="https://kit.fontawesome.com/eb496ab1a0.js"></script>
<!--Footer-->
<footer class="pie-pagina">
    <div class="grupo2">
        <small>&copy;2023 <b>Axolotl</b> -Derechos Reservados</small>
    </div>
</footer>

