<!--Iconos-->
<script src="https://kit.fontawesome.com/eb496ab1a0.js"></script>
<!--Footer-->
<footer class="pie-pagina">
    <div class="grupo1">
        <div class="box">
           <div class="box">
            <figure>
                <a href="#">
                    <img src="assets/logos/logo.png" alt="Logo Axolotl">
                </a>
            </figure>
           </div>
           <div class="box">
            <h3>Sobre nosotros</h3>
            <p>Hecho por estudiantes de ingenieria en sistemas</p>
            <p>computacionales del Tecnológico de Estudios Superiores Chalco </p>
            </div>
           <div class="box">
            <h3>Siguenos</h3>
            <div class="red-social"></div>
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-instagram"></a>
            <a href="#" class="fa fa-twitter"></a>
            <a href="#" class="fa fa-Youtube"></a>
           </div>
        </div>
    </div>
    <div class="grupo2">
        <small>&copy;2023 <b>Axolotl</b> -Derechos Reservados</small>
    </div>
</footer>

