 @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wgth@400;700&display=swap'); 

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans' sans-serif;
  }
  .pie-pagina{
    width: 100%;
    background-color: #934793;
  }
  .pie-pagina .grupo1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
  }
  .pie-pagina .grupo1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .pie-pagina .grupo1 .box figure img{
    width: 250px;
  }
  .pie-pagina .grupo1 .box h3{
    color:#fff;
    margin-bottom: 25px;
    font-size: 20px;
  }
  .pie-pagina .grupo1 .box p{
    color: #efefef;
    margin-bottom: 10px;
  }
  .pie-pagina .grupo1 .red-social a{
    display: online-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #4b0953;
    text-align: center;
    transition: all 300ms ease;
  }
  .pie-pagina .grupo1 .red-social a:hover{
    color:pink;
}
.pie-pagina .grupo2{
  background-color: rgb(69, 25, 62);
  padding: 15px 10px;
  text-align: center;
  color: #fff;
}
.pie-pagina .grupo2 small{
    font-size: 15px;
}
@media screen and(max-width:800px){
    .pie-pagina .grupo1{
        width: 90px;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }
}

@media screen and (min-width: 801px) and (max-width: 1199px) {
  .pie-pagina .grupo1 {
    width: 80%;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    padding: 35px 0px;
  }
}
/*Contenedor*/
.contenedor_pregunta{
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
}
.contenedor{
  background: #fff;
  padding: 40px;
  border: 2px solid transparent;
  border-radius: 10px;
  overflow: hidden;
  transition: .3s ease all;
  cursor: pointer;
}
.contenedor:hover{
  box-shadow: var(--sombra);
}
.contenedor.activa{
  border: 2px solid var(--primario);
}
/*Preguntas*/
.pregunta{
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pregunta img{
  width: 14px;
}
/*Respuesta*/
.respuesta{
  color: #808080;
  line-height: 30px;
  max-height: 0;
  opacity: 0;
  transition: .3s ease all;
}
.contenedor.activa .respuesta{
  opacity: 1;
  margin-top: 20px;
}
.contenedor.activa img{
  transform: rotate(45deg);
}
