<body>
    <!--Preguntas-->
    <div class="contenedor-acordeon">
        <h2>Preguntas frecuentes</h2>
        <div class="acordeon">
            <input type="radio" name="acordeon" id="btn-acordeon1" class="btn-acordeon">
            <label for="btn-acordeon1">
                ¿Quienes somos?
            </label>
            <div class="contenido-acordeon">
                <p>Somos estudientes de octavo grado de la Ingeniería en Sistemas Computacionales del Tecnológico de Estudios 
                    Superiores Chalco y el equipo esta conformado por:
                    <li>Aguilar Sánchez Willian Gabriel</li>
                    <li>Cazares Martínez Mauricio Javier </li>
                    <li>Rayón Cornejo Sergio Augusto</li>
                    <li>Reyes Cañeda Rene</li>
                    <li>Ruíz Vargas José Fernando</li>
                </p>
            </div>
        </div>
        <div class="acordeon">
         <input type="radio" name="acordeon" id="btn-acordeon2" class="btn-acordeon">
         <label for="btn-acordeon2">
             ¿Qué herramientas se utilizarón?
         </label>
         <div class="contenido-acordeon">
             <p>Las herramientas que se utilizaron para lograr esta página web son las siguientes:
                Pixels:
             </p>
         </div>
     </div>
     <div class="acordeon">
         <input type="radio" name="acordeon" id="btn-acordeon3" class="btn-acordeon">
         <label for="btn-acordeon3">
             ¿Porqué se decidió hacer esto?
         </label>
         <div class="contenido-acordeon">
            <p></p>
         </div>
     </div>
<!--Iconos-->
<script src="https://kit.fontawesome.com/eb496ab1a0.js"></script>
<!--Footer-->
<footer class="pie-pagina">
    <div class="grupo2">
        <small>&copy;2023 <b>Axolotl</b> -Derechos Reservados</small>
    </div>
</footer>
<script src="./preguntas.js"></script>
