<div mat-dialog-content>
  <div class="container">
    <div id="popup" class="popup">
<span class="close" (click)="cerrarVentana.emit()">&times;</span>
      <div class="agrelogo">
        <img src="assets/logos/logo.png" alt="agre" class="agre" id="agre">
      </div>
      <table>
        <tr>
          <td colspan="3" style="font-size: 20px; font-weight: bold;">"AXOLOT" es un buscador de imagenes avanzado</td>
        </tr>
        <tr style="color: rgb(255, 255, 255);">
          <th>Ejemplo</th>
          <th>Capacidades</th>
          <th>Limitaciones</th>
        </tr>
        <tr>
          <td><span style="font-size: 12px;">"VOLCANES"</span></td>
          <td><span style="font-size: 12px;">buscador de imágenes avanzado</span></td>
          <td><span style="font-size: 12px;">Se enfocará en el dominio de las imágenes de interés general.</span></td>
        </tr>
        <tr>
          <td><span style="font-size: 12px;">"FLORES"</span></td>
          <td><span style="font-size: 12px;">se entiende el contexto y la intención de los usuarios</span></td>
          <td><span style="font-size: 12px;">Se basará en técnicas de procesamiento de imágenes y de lenguaje natural existentes.</span></td>
        </tr>
        <tr>
          <td><span style="font-size: 12px;">"AUTOS"</span></td>
          <td><span style="font-size: 12px;">incorporación de una inteligencia artificial que pueda analizar el contenido visual y semántico de las imágenes</span></td>
          <td><span style="font-size: 12px;">Se implementará y evaluará utilizando un conjunto de datos público</span></td>
        </tr>
        <tr>
          <td colspan="3" style="font-size: 12px; font-weight: bold;">EVITA HACER CONSULTAS CON TÉRMINOS QUE TENGAN DERECHOS DE AUTOR, POR EJEMPLO "SIRENITA" O "FERRARI"</td>
        </tr>
        <tr>
          <td colspan="3" style="font-size: 12px; font-weight: bold;">PUEDES TENER O NO RESPUESTA</td>
        </tr>
        
        
      </table>
      <div class="agradecimientos">
        <img src="assets/logos/agradecimientos.png" alt="agra" class="agra" id="agra">
      </div>
    </div>
  </div>
</div>
