<header class="page-header">
  <button (click)="onClick" class="qs">¿Quienes somos?</button>
  <div class="contenedor-logo">
    <nav>
        <img src="assets/logos/logo.png" alt="Axolot" class="mi-logo">
    </nav>
  </div>
  
  <div class="contenedor-grecas">
  <nav>
    <img src="assets/grecas/gmizqui.png" alt="Axolot" class="g-izq">
  </nav>
  <nav>
    <img src="assets/grecas/gmizqui.png" alt="Axolot" class="g-izq1">
  </nav>
  <nav>
    <img src="assets/grecas/gmizqui.png" alt="Axolot" class="g-izq1">
  </nav>
  <nav>
    <img src="assets/grecas/gmizqui.png" alt="Axolot" class="g-izq1">
  </nav>
  <nav>
    <img src="assets/grecas/gmizqui.png" alt="Axolot" class="g-izq1">
  </nav>
  <nav>
    <img src="assets/grecas/gmizqui.png" alt="Axolot" class="g-izq1">
  </nav>
  <nav>
    <img src="assets/grecas/gmizqui.png" alt="Axolot" class="g-izq1">
  </nav>
  <nav>
    <img src="assets/grecas/gmizqui.png" alt="Axolot" class="g-izq1">
  </nav>
  <nav>
    <img src="assets/grecas/gmizqui.png" alt="Axolot" class="g-izq1">
  </nav>
</div>

</header>