<link rel="stylesheet" type="text/css" href="header.component.css">

<div class="header-container">
  <div class="logo-container">
    <img src="assets/logos/logo.png" alt="Axolot" class="mi-logo no-drag" id="logo">
  </div>
  <button class="custom-button">¿Quiénes somos?</button> <!--aqui deje normal el boton-->
  <app-theme-switcher></app-theme-switcher>
</div>

<div class="container">
<div id="popup" class="popup">
  <span class="close">&times;</span>
  <div class="agrelogo">
    <img src="assets/logos/logo.png" alt="agre" class="agre" id="agre">
  </div>
  <table>
    <tr style="color: rgb(255, 255, 255);">
      <th>Ejemplo</th>
      <th>Capacidades</th>
      <th>Limitaciones</th>
    </tr>
    <tr>
      <td>"VOLCANES"</td>
      <td>buscador de imágenes avanzado</td>
      <td>Se enfocará en el dominio de las imágenes de interés general.</td>
    </tr>
    <tr>
      <td>"FLORES"</td>
      <td>se entiende el contexto y la intención de los usuarios</td>
      <td>Se basará en técnicas de procesamiento de imágenes y de lenguaje natural existentes. </td>
    </tr>
    <tr>
      <td>"AUTOS"</td>
      <td>incorporación de una inteligencia artificial que pueda analizar el contenido visual y semántico de las imágenes</td>
      <td>Se implementará y evaluará utilizando un conjunto de datos público</td>
    </tr>
    <!-- Agrega más filas según sea necesario -->
  </table>
  <div class="agradecimientos">
    <img src="assets/logos/agradecimientos.png" alt="agra" class="agra" id="agra">
  </div>
</div>
</div>



