.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.width {
  width: 680px;
}

/* Dispositivos móviles (retrato) */
@media screen and (max-width: 480px) {
  .width {
    width: 90%;
  }
}

/* Dispositivos móviles (paisaje) */
@media screen and (min-width: 481px) and (max-width: 767px) {
  .width {
    width: 80%;
  }
}

/* Tabletas (retrato) */
@media screen and (min-width: 768px) and (max-width: 991px) {
  .width {
    width: 70%;
  }
}

/* Tabletas (paisaje) y pequeñas pantallas de escritorio */
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .width {
    width: 60%;
  }
}
/* Estilos para las alertas */
.alert {
  position: fixed;
  top: -50px;
  left: 50%;
  text-align: center;
  transform: translateX(-50%);
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  padding: 20px;
  background-color: #ff0000;
  border-radius: 10px 10px 0 0;
  box-shadow: 0 0 60px rgba(255, 0, 0, 0.8); /* Cambio en la propiedad box-shadow */
  animation: alertAnimation 0.5s forwards;
  z-index: 9999;
}
.alert {
  position: fixed;
  top: -100%;
  left: 50%;
  text-align: center;
  transform: translateX(-50%);
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  padding: 20px;
  background-color: #ff0000;
  border-radius: 10px 10px 0 0;
  box-shadow: 0 0 40px rgba(255, 0, 0, 0.8);
  animation: alertSlideDown 0.5s forwards;
  z-index: 9999;
}

@keyframes alertSlideDown {
  0% {
    top: -100%;
  }
  100% {
    top: 0;
  }
}
@keyframes alertSlideUp {
  0% {
    top: 0;
  }
  100% {
    top: -100%;
  }
}
.alert:before {
  content: "!";
  display: block;
  font-size: 48px;
  margin-bottom: 10px;
}

.alert:after {
  content: "⚠️";
  display: block;
  font-size: 60px;
  margin-top: 10px;
}

@keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-200px * 7));
    transform: translateX(calc(-200px * 7));
  }
}
