.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.width {
  width: 680px;
}

/* Dispositivos móviles (retrato) */
@media screen and (max-width: 480px) {
  .width {
    width: 90%;
  }
}

/* Dispositivos móviles (paisaje) */
@media screen and (min-width: 481px) and (max-width: 767px) {
  .width {
    width: 80%;
  }
}

/* Tabletas (retrato) */
@media screen and (min-width: 768px) and (max-width: 991px) {
  .width {
    width: 70%;
  }
}

/* Tabletas (paisaje) y pequeñas pantallas de escritorio */
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .width {
    width: 60%;
  }
}
