<div class="center-content">
  <form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill" (keydown.enter)="obtenerImagenes()">
      <mat-label>Buscar</mat-label>
      <input type="text"
             placeholder="Hombre, Mujer, Flores, etc."
             aria-label="Buscar"
             matInput
             [formControl]="myControl"
             [matAutocomplete]="auto">
      <mat-icon matSuffix>search</mat-icon>       
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of options" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
</form>
</div>


<div class="image-container">
  <div class="image-item" *ngFor="let foto of fotos">
    <img [src]="foto.src.medium" alt="Imagen">
  </div>
</div>
