@use '@angular/material' as mat;

@include mat.core();

$my-primary: (
    50 : #f4eaef,
    100 : #e4cad7,
    200 : #d3a6bc,
    300 : #c182a1,
    400 : #b3688d,
    500 : #a64d79,
    600 : #9e4671,
    700 : #953d66,
    800 : #8b345c,
    900 : #7b2549,
    A100 : #ffbcd7,
    A200 : #ff89b8,
    A400 : #ff5699,
    A700 : #ff3c8a,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #ffffff,
    )
);

$my-accent: (
  50 : #f9e0e0,
  100 : #f0b3b3,
  200 : #e68080,
  300 : #db4d4d,
  400 : #d42626,
  500 : #cc0000,
  600 : #c70000,
  700 : #c00000,
  800 : #b90000,
  900 : #ad0000,
  A100 : #ffd7d7,
  A200 : #ffa4a4,
  A400 : #ff7171,
  A700 : #ff5858,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #ffffff,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);

$my-warn: (
    50 : #ffe0e0,
    100 : #ffb3b3,
    200 : #ff8080,
    300 : #ff4d4d,
    400 : #ff2626,
    500 : #ff0000,
    600 : #ff0000,
    700 : #ff0000,
    800 : #ff0000,
    900 : #ff0000,
    A100 : #ffffff,
    A200 : #fff2f2,
    A400 : #ffbfbf,
    A700 : #ffa6a6,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);


$light-theme: mat.define-light-theme((
 color: (
   primary: mat.define-palette($my-primary, A700),
   accent: mat.define-palette($my-accent, 400),
   warn: mat.define-palette($my-warn, 900),
 ),
 typography: mat.define-typography-config(),
 density: 0,
));

$dark-theme: mat.define-dark-theme((
 color: (
   primary: mat.define-palette($my-primary, A700),
   accent: mat.define-palette($my-accent, 900),
 ),
 typography: mat.define-typography-config(),
 density: 0,
));

// Emit theme-dependent styles for common features used across multiple components.
@include mat.all-component-themes($light-theme);